{% extends 'dashboard/base/dashboard.html' %}
{% block content %}
{% load humanize %}
<div class="single-post-item format-standard bg-shadow">
    <div class="post-details">
        
        <div class="post-top-meta">
            <ul class="meta-comment-tag">
                <li><span class="icons"><i class="ti-user"></i></span> {{notification.user.full_name}}</li>
                <li><span class="icons"><i class="ti-time"></i></span> {{notification.created_at | naturaltime}}</li>
            </ul>
        </div>
        <h2 class="post-title">{{notification.property.heading}}</h2>
        <p>{{notification.comment}}.</p>
        <br>
        <div class="post-bottom-meta">
            <div class="post-tags">
                <ul class="meta-comment-tag d-flex flex-column">
                    <li>{{notification.user.full_name}}</li>
                    <li>{{notification.user.email}}</li>
                    <li>{{notification.user.phone}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}