{% extends 'dashboard/base/dashboard.html' %}
{% block content %}
{% load static %}
<div class="row justify-content-center settings">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="card bg-shadow mb-3">
            <div class="card-body">
                <h3>Notifications Settings</h3>
                <strong class="mb-0">Security</strong>
                <p>Control security alert you will be notified.</p>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Unusual activity notifications</strong>
                                <p class=" mb-0">Donec in quam sed urna bibendum tincidunt quis mollis mauris.
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-size="sm">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Unauthorized financial activity</strong>
                                <p class=" mb-0">Fusce lacinia elementum eros, sed vulputate urna eleifend
                                    nec.
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-size="sm">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-shadow mb-3">
            <div class="card-body">
                <strong class="mb-0">System</strong>
                <p>Please enable system alert you will get.</p>
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me about new features and updates</strong>
                                <p class=" mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-size="sm">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me by email for latest news</strong>
                                <p class=" mb-0">Nulla et tincidunt sapien. Sed eleifend volutpat elementum.
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-size="sm">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me about tips on using account</strong>
                                <p class=" mb-0">Donec in quam sed urna bibendum tincidunt quis mollis mauris.
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-size="sm">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}