{% extends 'authentication/base/authentication.html' %}
{% block content %}
<div class="container">
    <div class="row lgrw">
        <div class="col-xl-6 d-flex align-items-center justify-content-center">
            <div class="card w-100 bg-shadow">
                <div class="card-body">
                    <h2 class="text-center">Forgot Password</h2>
                    <div class="login-form">
                        <form action="{% url 'fetch_user_ajax' %}" method="post" id="chngPaswdfrm">
    
                            <div class="form-group email-valid">
                                <label>Email</label>
                                <div class="input-with-icon">
                                    <input type="email" class="form-control" placeholder="Enter email" name="username" id="user-email">
                                    <i class="ti-email"></i>
                                </div>
                            </div>
                            <div class="re-set-password">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <div class="input-with-icon">
                                        <input type="password" class="form-control" placeholder="Enter Password" name="new_password" id="new-password">
                                        <i class="ti-key"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <div class="input-with-icon">
                                        <input type="password" class="form-control" placeholder="Re-enter Password" name="confirm_password" id="confirm-password">
                                        <i class="ti-key"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center submitbtn">
                                <a href="#" id="chngPaswd" type="submit" class="btn btn w-50 pop-login">Change Password</a>
                            </div>
                            <input type="hidden" id="usrUid" data-usr="">
                        </form>
                        <div class="text-center">
                            <p class="mt-1 mb-1"><a href="{% url 'admin_login_temp' %}" class="link">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}