{% extends 'master/master.html' %}
{% block content %}
{% include 'common/search_bar.html' %}
<section id="lstPrp">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12 d-flex">
                <h4>Total Property Find is: <span class="theme-cl">{{object_list.count}}</span></h4>
            </div>
        </div>

        <div class="row">
            {% include 'properties/user/list_properties.html' %}
        </div>
        {% include 'properties/common/pagination.html' with url_name=request.resolver_match.view_name %}
    </div>
</section>
{% endblock %}