{% extends 'dashboard/base/dashboard.html' %}
{% block content %}
<div class="dashboard-wraper">
    <div class="form-submit">	
        <h4>Change Your Password</h4>
        <div class="submit-section">
            <form action="{% url 'change_password_view' %}" method="post" data-usr="{{present_user.uid}}" id="updtpas">
                <div class="form-row">
                
                    <div class="form-group col-lg-12 col-md-6">
                        <label>Old Password</label>
                        <input type="password" class="form-control" name="old_password" placeholder="Enter old password">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="new_password" placeholder="Enter new password">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label>Confirm password</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Enter confirm password">
                    </div>
                    
                    <div class="form-group col-lg-12 col-md-12">
                        <a href="#" id="updtUsrPass" class="btn btn-theme">Save Changes</a>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}