<section class="gray p-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading2 center">
                    <div class="sec-left">
                        <h3>Newely Added</h3>
                        <p>We update our list every week</p>
                    </div>
                    <div class="sec-right">
                        <a href="{% url 'user_list_properties_category' 'recent' %}">View All<i class="ti-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row latest_property_carousel"></div>
    </div>
</section>