<div class="search-header-banner" id="srchDv">
    <div class="container">
        <form id="lstPrpFrm" action="{% url 'user_list_properties' %}" method="get">
            <!-- <div class="property-search-type">
                <label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
                <label><input name="tab" type="radio">For Sale</label>
                <label><input name="tab" type="radio">For Rent</label>
                <label><input name="tab" type="radio">For Lease</label>
                <div class="property-search-type-arrow"></div>
            </div> -->
            <div class="full-search-2 eclip-search italian-search hero-search-radius">
                <div class="hero-search-content">
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="cities" class="form-control" data-val="city">
                                        <option value="">&nbsp;</option>
                                    </select>
                                    <i class="ti-location-pin"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" class="form-control b-r" data-val="property" placeholder="Search"
                                        value="{{search.heading__icontains}}">
                                    <i class="ti-search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="category" class="form-control" data-val="category">
                                        <option value="">&nbsp;</option>
                                        <option value="house">House</option>
                                        <option value="apartment">Apartment</option>
                                        <option value="villas">Villas</option>
                                        <option value="commercial">Commercial</option>
                                        <option value="office">Office</option>
                                        <option value="flat">Flat</option>
                                        <option value="land">Land</option>
                                    </select>
                                    <i class="ti-home"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-1 col-sm-3">
                            <div class="form-group">
                                <button class="btn search-btn" type="submit" id="scrRslt"><span class="icons"><i
                                            class="ti-search"></i></span></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#type').val('{{search.type}}');
        $('#category').val('{{search.category}}');
        $('#cities').val('{{search.city}}');
        $('#bedrooms').val('{{search.city}}');
        $('#rooms').val('{{search.city}}');
    })
</script>